/* 
COLOR PALETTE:
#A5A5A5 8.5 background
#9B9489 #7 background
#BEB5A6 #10 background
#EADEBD #15 background
#FDF4E3 #19 background
*/

/* 
FONT-SIZE:
1rem / 1.25 / 1.5 / 2 / 2.5 / 3.0 / 3.8 / 4.7 / 6 / 7.4 / 9.3 /11.6
*/

/* @font-face {
  font-family: "Farray";
  src: url("../Design-Ideas/font/farray.regular.otf");
} */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 100% /* 16px */;
}

body {
  font-family: "Cabin", sans-serif;
  font-weight: 400;
  line-height: 1.6;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #163172;
  height: 11.6rem;
  padding: 0 4.7rem;
  overflow: hidden;
  height: auto;
}

.logo {
  width: 12rem;
  height: 12rem;
}

.logo--large {
  width: 50%;
}

.logo--medium {
  width: 5rem;
}

.logo--small {
  width: 2rem;
  height: 2rem;
}

.grid-col-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3rem;
  justify-content: flex-end;
}

/* 
MAIN NAV
*/

.main-nav {
  display: flex;
}
.main-nav-list {
  display: flex;
  list-style: none;

  gap: 4.7rem;
}

.main-nav-link:link,
.main-nav-link:visited {
  color: #fff;

  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 500;
  transition: all 0.3;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: #e67e22;
}

.container {
  max-width: 120rem;
  padding: 0 3.2rem;
  margin: 0 auto;
}

.container--small {
  max-width: 80rem;
  padding: 0 3.2rem;
  margin: 0 auto;
  justify-content: center;
  margin-bottom: 4.8rem;
}

.logos {
  display: flex;
  justify-content: space-between;
  padding: 0 11.6rem;
}

.footer {
  display: flex;
  padding: 0 4.7rem;
  border-top: 1px solid #eee;
}

.footer-box {
  display: flex;
  justify-content: center;
  padding: 6rem 0;
}

.footer-grid {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.icon-logo {
  width: 3rem;
  height: 3rem;
  color: white;
}

.icon-box {
  font-size: 1.5rem;
  font-weight: 500;
  transition: all 0.3;
  align-self: center;
  margin-left: 5rem;
}

.icon-box a {
  color: black;
  text-decoration: none;
}

.icon-box p {
  color: white;
}
